body {
  background-color: #edeae4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color:#0a2239;
  color: #0b1525;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

header h1 {
  margin: 0;
  font-size: 32px;
  color: #0d6efd;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  color: #468dbc;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #ffcc00;
}

.container {
  display: flex;
  width: 85%;
  max-width: 1000px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}


.left-section {
  width: 40%;
  background-color: #f8f9fa;
  padding: 30px;
  text-align: left;
}

.left-section img {
  width: 50%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.left-section h1 {
  font-size: 24px;
  text-align: left;
  color: #0d6efd;

}
.left-section h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0d6efd;
}

.left-section p {
  font-size: 17px;
  margin-bottom: 10px;
}

.left-section a {
  text-decoration: none;
  color: rgb(11, 75, 112);
}

.left-section a:hover {
  color: rgb(223, 21, 21);
  text-decoration: underline;
  transition: 0.3s;
}
.left-section ul{
    font-size: 15px;
     list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.left-section li{
    padding: 10px;
    align-items: left;
    justify-content: left;
}


.right-section{
  width: 60%;
  background-color: #fafafa;
  padding: 10px;
  padding-left: 50px;
  text-align: left;

}
.right-section h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0d6efd;

}

.right-section h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #0d6efd;

}

.right-section h4 {
  font-size: 15px;
  color: #0d6efd;
  margin-top: 0;
}
.right-section ul{
    font-size: 17px;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.right-section li{
    padding: 10px;
    align-items: left;
    justify-content: left;
}
li::before {
  content: "•";
  color: #0b1525;
  margin-right: 8px;
}
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: gray;
}
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .container {
    flex-direction: column;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 10px;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 10px;
  }

  .right-section {
    padding-left: 12px;
  }

  .left-section img {
    width: 120px;
    margin: 0 auto 20px;
    display: block;
  }

  nav li {
    display: block;
    margin: 8px 0;
    text-align: center;
  }

  header h1 {
    font-size: 22px;
  }
}

